$color-primary: #292929;
$color-secondary: #292929;

$color-text: #afafaf;

$color-test-1: #fa68ff;
$color-test-2: #63ff4f;

$font-primary: 'Quicksand', sans-serif;

$transition-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
