html {
  height: 100%;
}
body {
  height: 100%;
  box-sizing: border-box;
  background: $bg-color-primary;
  color: $text-lightGray;
  // Scrollbar show/hide
  &.modal-open {
    overflow: hidden;
    padding-right: $scrollbar-width;
    .navbar {
      padding-right: $scrollbar-width;
    }
  }

  svg {
    display: block;
    fill: $text-white;
    width: 24px;
    height: 24px;
  }
}

// Scrollbar
::-webkit-scrollbar-track {
  background-color: #171714;
}
::-webkit-scrollbar {
  width: $scrollbar-width;
  background-color: rgb(37, 33, 21);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #38352e;
}
