html {
  height: 100%;
}
body {
  height: 100%;
  box-sizing: border-box;

  background: $bg-color-primary;
  color: $text-lightGray;

  svg {
    fill: $text-lightGray;
  }
}

h1 {
  font-size: 2rem;
  color: $text-color;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.6rem;
  color: $text-white;
  margin-bottom: 1rem;
}

// Scroll
::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: grey;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(37, 33, 21);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: $bg-color-secondary;
}
