*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  color: $text-color;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover,
  &:focus,
  &:active {
    color: lighten($text-color, 30%);
  }
}
