.fade-down-enter-active {
  opacity: 0.01;
  transform: translateY(20px);
}
.fade-down-enter-to {
  opacity: 1;
  transform: translateY(0px);
}
.fade-down-enter-active {
  transition: opacity 0.3s, transform 0.3s;
}

.fade-right-enter {
  opacity: 0;
  transform: translateX(100px);
}
.fade-right-enter-to {
  opacity: 1;
  transform: translateX(0px);
}
.fade-right-enter-active {
  transition: opacity 0.3s, transform 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave {
  opacity: 1;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.fade-leave-active {
  &.modal__root {
    margin-right: -$scrollbar-width;
  }
}
