.reveal-enter-active {
  opacity: 0.01;
  transform: translateY(20px);
  transition: opacity 0.3s, transform 2.3s;
}
.reveal-enter-to {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.3s, transform 2.3s;
}
.reveal-right-enter {
  opacity: 0.01;
  transform: translateX(100px);
  transition: opacity 0.3s, transform 0.3s;
}
.reveal-right-enter-to {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 0.3s, transform 0.3s;
}
