body {
  font-family: $font-primary;
}

h1 {
  color: $text-color;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  @include media-desktop {
    font-size: 2.2rem;
  }
}
h2 {
  color: $text-white;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
p {
  color: $text-lightGray;
  margin: 1rem 0;
  font-size: 1.2rem;
}

// Headers
.left-right {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  margin-bottom: 2.5rem;
  &:before {
    content: '';
    display: block;
    height: 1px;
    background-color: $text-color;
    margin-right: 12px;
    margin-top: 8px;
    width: 250px;
    @include media-tablet {
      width: 100%;
    }
  }
  &:after {
    content: '';
    display: block;
    height: 1px;
    background-color: $text-color;
    margin-left: 12px;
    margin-top: 8px;
    width: 250px;
    @include media-tablet {
      width: 100%;
    }
  }
}
.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
  margin-bottom: 2.5rem;
  &:before {
    content: '';
    display: block;
    height: 1px;
    background-color: $text-color;
    margin-right: 12px;
    margin-top: 8px;
    width: 200px;
    @include media-tablet {
      width: 100%;
    }
  }
}
.left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  margin-bottom: 2.5rem;
  &:after {
    content: '';
    display: block;
    height: 1px;
    background-color: $text-color;
    margin-left: 12px;
    margin-top: 8px;
    width: 200px;
    @include media-tablet {
      width: 100%;
    }
  }
}
